.x-form-text{display:inline!important;}

#hiddenheader-titleEl {display:none!important;}

#hiddenheader1-titleEl {display:none!important;}

#hiddenheader2-titleEl {display:none!important;}

#hiddenheader3-titleEl {display:none!important;}

#hiddenheader4-titleEl {display:none!important;}

#hiddenheader5-titleEl {display:none!important;}


.panel_grid .x-header{
    background-color: white;
}        